
.form {
  width: clamp(310px, 30vw, 410px);
  position: relative;
}

.form.mask {
  display: none;
}

form fieldset {
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form legend {
  font-weight: bold;
  font-size: var(--font-title);
  width: 100%;
  text-align: center;
}

form .note {
  display: flex;
  gap: .5rem;
  flex-direction: column;
}
form .note p {
  text-align: center;
}

form .note .small {
  color: var(--label-second);
  font-size: .85em;
}

form .group {
  display: flex;
  flex-direction: column;
  gap: .1rem;
  justify-content: center;
  position: relative;
  width: 100%;
}

form .group-dif select option {
  color: var(--black);
}

form .group-dif select,
form .group input {
  border-radius: 50px;
  background-color: transparent;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: 3.250rem;
  line-height: 1.5rem;
  border: var(--border);
  padding: 0 20px;
}

form .group label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  transition: var(--t);
}

form .group:has(input:not(:placeholder-shown)) label,
form .group:has(input:focus) label {
  transform: translateY(-100%);
  font-size: .8rem;
  color: var(--first-color);
  background-color: var(--first-color);
  color: white;
  opacity: 1;
  padding: .1rem .3rem;
  border-radius: 1rem;
  top: 20%;
}

/* 
form .group:has(input:not(:placeholder-shown)) input,
form .group:has(input:focus) input {
  padding-top: 8px;
  
} */

form .group-end {
  display: flex;
  flex-direction: column;
}

form .group-end button {
  outline: none;
  background-color: var(--first-color);
  color: white;
  height: 50px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

form .group-dif {
  width: 100%;
  padding: 0 3px;
  display: flex;
  flex-direction: column;
}

form .group-dif label.left {
  padding-left: .2rem;
}

form .group-dif span {
  display: flex;
  gap: 10px;
}

form .group-dif span.desc {
  margin-left: 24px;
  font-size: .85em;
  color: var(--label-second);
}


form .group-end button:last-child {
  background-color: transparent;
  color: var(--first-color);
}

form .doubleGroup {
  display: flex;
  gap: 5px;
  width: 100%;
}


select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    padding: 10px 40px 10px 12px;
    font-size: 15px;
    font-family: inherit;


    cursor: pointer;
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml;utf8,<svg width='20' height='20' xmlns='http://www.w3.org/2000/svg' fill='%23666'><path d='M7 8l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
}

select option {
    padding: 10px;
    font-size: 15px;
}